PORT=5000
JWT_SECRET=super_secret_jwt_key_dealership_2026
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Admin Seeding Environment Variables
ADMIN_NAME=System Admin
ADMIN_EMAIL=admin@dealership.com
ADMIN_PASSWORD=AdminSecret123!
